* {
  padding: 0;
  margin: 0;
  color: #3c4043;
}

body {
  width: 100%;
  min-width: 300px;
}

.aboutheader {
  display: flex;
  width: 100%;
  justify-content: center;
  margin: 40px 0px 60px;
}

.aboutheader h1 {
  font-size: 60px;
  margin-bottom: 20px;
}

.aboutheader-imagectr {
  display: flex;
  margin: 0px 20px;
}

.aboutheader-imagectr img {
  width: 500px;
}

.aboutheader-txtctr {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0px 20px;
}

.aboutcontent {
  display: flex;
  justify-content: center;
  background-color: #f6f9fe;
  width: 90%;
  margin: 50px auto;
  border-radius: 10px;
}

.aboutcontentimg img {
  width: 250px;
  margin: 20px 20px;
}

#sustainable img {
  width: 200px;
  margin: 20px 20px;
}

.aboutcontenttxt {
  display: flex;
  align-items: center;
  width: 50%;
  margin: 0px 20px;
}

.aboutlast {
  display: flex;
  justify-content: center;
  background-color: #ede3d9;
  margin-top: 60px;
}

.aboutlastimg {
  display: flex;
  margin: 00px 40px 0px;
}
.aboutlastimg img {
  width: 500px;
}

.aboutlasttxt {
  width: 50%;
  display: flex;
  align-items: center;
  margin: 40px;
}

.aboutlasttxt h1 {
  font-size: 30px;
}

@media screen and (max-width: 990px) {
  p {
    font-size: 20px;
  }

  .aboutheader,
  .aboutcontent,
  .aboutlast {
    flex-wrap: wrap;
  }

  .aboutlastimg img,
  .aboutheader img {
    width: 250px;
  }

  .aboutheader {
    margin-top: 25px;
  }

  .aboutheader h1 {
    font-size: 35px;
    margin-bottom: 5px;
  }

  .aboutheader-txtctr {
    width: 90%;
    text-align: center;
  }

  .aboutcontenttxt {
    width: 90%;
    text-align: center;
    margin-bottom: 40px;
  }

  .aboutcontent {
    box-shadow: 0px 0px 9px -5px #000;
    margin: 30px auto;
  }

  .aboutcontentimg img {
    width: 170px;
  }

  #sustainable img {
    width: 150px;
  }
  .aboutlast {
    margin-top: 40px;
  }

  .aboutlasttxt {
    width: 100%;
    text-align: center;
    margin-top: 10px;
  }

  .aboutlasttxt h1 {
    font-size: 20px;
  }
}

@media (min-width: 721px) and (max-width: 990px) {
  .aboutlastimg img,
  .aboutheader img {
    width: 400px;
  }
}
