* {
  color: #3c4043;
}

body {
  min-width: 450px;
  width: 100%;
}

h2 {
  margin-bottom: 10px;
}

.addeditemctr {
  margin: 0 auto;
  background: #3c4043;
  position: absolute;
  width: 100%;
  display: none;
}

.addeditem {
  display: flex;
  justify-content: space-between;
  width: 90%;
  padding: 0 10px;
  margin: 0 auto;
}

.addeditemtxt {
  display: flex;
  justify-content: center;
  padding: 5px;
}

.addeditemtxt p {
  color: white;
  margin: 4px;
}

.addeditemtxt a p {
  text-decoration: underline;
}

.addeditem button {
  color: white;
  display: flex;
  align-items: center;
}

.addeditem button img {
  width: 15px;
}

/*For product header- image and name*/
.product2 {
  display: flex;
  justify-content: center;
  margin: 0px auto;
  margin-top: 60px;
}
.prodimage2 img {
  border-radius: 10px;
  width: 450px;
}
.prodimage2 {
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
}
.details2 h1 {
  font-size: 42px;
}
.prodd2 {
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  align-items: end;
}

/*For product info*/
.info2 {
  display: flex;
  margin: 50px 0px 70px;
  justify-content: center;
  flex-direction: row;
}
.desc2 {
  background-color: #ede3d9;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 10px;
  padding: 20px;
  box-sizing: border-box;
}
.desc2 p {
  text-align: justify;
}
.ingred2 {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-right: 20px;
}
.ingredient2 {
  background-color: #ede3d9;
  border-radius: 10px;
  padding: 20px;
  box-sizing: border-box;
}
.ingredient2 p {
  text-align: justify;
}
.usage2 {
  background-color: #ede3d9;
  margin-top: 20px;
  border-radius: 10px;
  padding: 20px;
  box-sizing: border-box;
}
.usage2 p {
  text-align: justify;
}

/*For suggestions*/
.youmay {
  text-align: center;
  margin-top: 75px;
  color: #327559;
}
.suggestions2 {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.p1,
.p2,
.p3,
.p4 {
  width: 220px;
  margin: 57px 10px 0px;
  text-align: center;
  padding: 15px;
  box-sizing: unset;
}
.p1:hover,
.p2:hover,
.p3:hover,
.p4:hover {
  background-color: #f6f9fe;
  text-decoration: underline;
  cursor: pointer;
}
.p1 img,
.p2 img,
.p3 img,
.p4 img {
  width: 220px;
  border-radius: 10px;
}
.price {
  color: #327559;
  font-weight: 500;
}
/*For button*/
.butt {
  border-radius: 5px;
  font-size: 20px;
  padding: 10px 15px;
  cursor: pointer;
  background-color: #3c4043;
  color: white;
  border: none;
  margin-top: 10px;
  width: 180px;
}
.butt:hover {
  background-color: #327559;
  transition: 0.3s;
  color: white;
}

.order_buttons {
  display: flex;
  flex-direction: column;
}

.cart {
  background-color: white;
  border: 2px solid #3c4043;
  color: #3c4043;
}
/*Start of reviews slider*/

.revtitle h1 {
  text-align: center;
  font-weight: 1000;
  font-size: 35px;
  margin: 0px;
  margin-bottom: 30px;
}

#reviews {
  /*background-color: #c1d7df;
  padding: 50px 0;*/
  padding: 0px 0 50px;
  width: 90%;
  margin: 0px auto;
}
#slider {
  width: 70%;
  margin: 0 auto;
  padding-left: 0px;
}

#slider li {
  margin: 0px 5px;
  padding: 10px;
}

button {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}
.slide-arrow {
  position: absolute;
  top: 50%;
  margin-top: -15px;
}
.prev-arrow {
  left: -40px;
  width: 0;
  height: 0;
  border-left: 0 solid transparent;
  border-right: 15px solid #3c4043;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}
.next-arrow {
  right: -40px;
  width: 0;
  height: 0;
  border-right: 0 solid transparent;
  border-left: 15px solid #3c4043;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

/*End of reviews slider*/

/*Write a review*/

.writereviewctr {
  background-color: #f6f9fe;
  margin: 0px auto;
  padding: 10px 0px 40px;
}

.writereviewctr h1 {
  text-align: center;
  font-size: 35px;
  margin: 30px 0px;
}

.reviewinput {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.reviewinput label {
  margin: 10px 0px 5px;
}

.reviewinput input,
.reviewinput textarea {
  margin: 0px 0px 10px;
  padding: 10px;
  border-radius: 10px;
  border-style: solid;
  border-color: #3c4043;
  border-width: 2px;
}

#fname,
#textarea,
#Email {
  width: 350px;
}

#submit {
  margin-top: 10px;
  width: 100px;
  background: #3c4043;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#submit:hover {
  background: #327559;
}

/*CARD STYLES*/
h2 {
  font-size: 20px;
}

.checked {
  color: orange;
}

.reviewcard {
  width: 100%;
  padding: 30px 30px 50px;
  border-radius: 10px;
  height: 330px;
  box-shadow: 0px 0px 18px -4px #ceced1;
  margin: 4px 2px;
}

.reviewcard .reuserdetail {
  margin-left: 10px;
}
.reviewcard p {
  font-size: 14px;
  margin-top: 10px;
}

.reviewcard img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.revuser {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}

.revuser h6 {
  color: #919191;
}

/*END OF CARD STYLES*/

/*Mediq Queries*/

@media screen and (max-width: 1300px) {
  .p1 img,
  .p2 img,
  .p3 img,
  .p4 img {
    width: 200px;
    border-radius: 5px;
  }

  .p1,
  .p2,
  .p3,
  .p4 {
    width: 200px;
    margin: 57px 10px 0px;
  }
}

@media screen and (max-width: 1020px) {
  .p1,
  .p2,
  .p3,
  .p4 {
    width: 150px;
    box-shadow: none;
  }

  .p1 img,
  .p2 img,
  .p3 img,
  .p4 img {
    width: 150px;
    border-radius: 5px;
  }
}

@media screen and (max-width: 790px) {
  .details2 {
    margin-left: 20px;
  }
  .suggestions2 {
    display: grid;
    grid-template-columns: 150px 150px;
    grid-gap: 0px 80px;
    margin-top: 20px;
  }

  .p1,
  .p2,
  .p3,
  .p4 {
    width: 150px;
    box-shadow: none;
    margin-top: 10px;
    margin-left: -14px;
  }

  .p1 img,
  .p2 img,
  .p3 img,
  .p4 img {
    width: 150px;
    border-radius: 5px;
  }
}

@media screen and (max-width: 990px) {
  .info2 {
    flex-wrap: wrap;
    flex-direction: column;
    margin-bottom: 20px;
    margin-top: 0px !important;
  }

  .contw {
    width: 90% !important;
    margin: 20px auto;
  }

  .product2 {
    width: 90%;
    margin-bottom: 20px;
  }

  .prodimage2 img {
    width: 350px;
  }

  .ingred2 {
    margin-left: 0px;
    margin-right: 0px;
  }
}

@media screen and (max-width: 610px) {
  .product2 {
    flex-direction: column;
  }

  .prodimage2,
  .prodd2 {
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .order_buttons {
    align-items: center;
  }

  #submit {
    width: auto;
    padding: 20px 60px;
  }
  .details2 {
    margin: 0;
    margin-top: 10px;
  }

  .details2 h1 {
    font-size: 30px;
  }

  .writereviewctr h1,
  .revtitle h1,
  .youmay h1 {
    font-size: 25px;
  }

  .ingredient2 p {
    font-size: 16px;
  }
}

@media screen and (max-width: 450px) {
  .prodimage2 img {
    width: 320px;
  }

  .desc2,
  .usage2,
  .ingredient2 {
    padding: 0;
    background-color: white;
  }

  .suggestions2 {
    grid-gap: 0px 50px;
  }

  .product2 {
    margin-top: 30px;
  }
}

/*for Reviews slider Media Queries*/

@media screen and (max-width: 1090px) {
  #revieww {
    width: 100%;
  }

  #slider {
    width: 100%;
  }

  .prev-arrow {
    left: -20px;
  }

  .next-arrow {
    right: -20px;
  }
}

@media screen and (max-width: 717px) {
  #slider {
    width: 90%;
  }
}

@media screen and (max-width: 450px) {
  .addeditemctr {
    position: relative;
  }
}
