* {
  padding: 0;
  margin: 0;
  color: #3c4043;
  text-decoration: none;
}

.resellers_header {
  width: 90%;
  margin: 20px auto 50px;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 5px;
}

.resellers_header h1 {
  font-size: 45px;
}

.resellerimg img {
  width: 300px;
  margin: 15px 0;
}

.resellers_panel {
  display: flex;
  justify-content: center;
  margin: 0px auto;
  width: 90%;
  margin-bottom: -1px;
}

.resellers_panel h1 {
  font-size: 26px;
}

.resellers_panel_choose {
  padding: 5px 20px;
  margin: 0px 10px;
  border-style: solid;
  border-width: 1px 1px 0px 1px;
  background-color: #ede3d9;
  border-radius: 5px 5px 0px 0px;
}

.activepanel {
  padding: 5px 20px 5.5px;
  background-color: #f6f9fe;
}

.panelhover:hover {
  background-color: #e6f2eb;
}

.panelcontentwrap {
  background-color: #f6f9fe;
  width: 90%;
  margin: 0 auto 50px;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 5px 0px 30px 70px;
}

.panelcontent {
  margin: 60px auto 20px;
  background-color: #f6f9fe;
}

.panelcontent h2 {
  margin-bottom: 20px;
  color: #327559;
}

.panelcontent p {
  margin: 5px;
}

.panelcontentlink div,
.panelcontentlink2 div,
.panelcontentlink3 div,
.panelcontentlinkps1 div,
.panelcontentlinkps2 div {
  display: flex;
  padding: 5px;
  margin-left: -5px;
  border-radius: 5px;
}
.panelcontentlink div:hover,
.panelcontentlink2 div:hover,
.panelcontentlink3 div:hover {
  background-color: #ede3d9;
}

.panelcontentlink div:hover p,
.panelcontentlink2 div:hover p,
.panelcontentlink3 div:hover p {
  text-decoration: underline;
}
.panelcontentlink {
  display: grid;
  grid-template-columns: 25% 25% 25%;
  grid-column-gap: 8%;
}

.panelcontentlink2 {
  display: grid;
  grid-template-columns: 25% 25%;
  grid-column-gap: 8%;
}

.panelcontentlink3 {
  display: grid;
  grid-template-columns: 25%;
  grid-column-gap: 8%;
}

.panelcontentlinkps1,
.panelcontentlinkps2 {
  display: grid;
  grid-template-columns: auto auto;
}
